@media only screen and (min-width: 768px) {
    /* Navigation */
    header {
        height: 100px;
    }

    nav {
        padding-top: 73px;
    }

    ul {
        font-size: 34px;
    }

    li {
        margin-bottom: 25px;
    }

    .open {
        height: 430px;
    }

    .logo-holder {
        width: 280px;
    }

    .header {
        margin-top: 27px;
    }

    .menu {
        font-size: 46px;
    }
    /*End Navigation*/

    .card {
        justify-content: space-between;
    }

    .graph {
        width: 60%;
    }

    .data-static {
        width: 35%;
        flex-direction: column;
    }

    .data-holder {
        width: 100%;
    }

    .side-by-side .graph {
        height: 380px;
    }

    .side-by-side .data-holder {
        font-size: 28px;
    }

    .side-by-side .data-holder > h3 {
        padding-top: 40px;
    }

    .side-by-side .data-holder > p {
        padding-bottom: 40px;
        font-size: 35px;
        padding-top: 12px;
    }

    .side-by-side .data-holder > h3, .side-by-side .data-holder > p {
        padding-left: 32px;
    }

    .side-by-side .data-holder > p > i {
        font-size: 34px;
        padding-right: 10px;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .reverse .graph {
        width: 55%;
    }

    .reverse .data-static {
        width: 40%;
    }

    .reverse .data-holder {
        font-size: 20px;
    }

    .reverse .data-holder.sub-data > p {
        font-size: 30px;
    }

    .reverse .data-holder.sub-data > p > i {
        font-size: 29px;
        padding-right: 8px;
    }

    .reverse .sub-data > h3, .reverse .sub-data > p {
        padding-left: 34px;
    }

    .reverse .sub-data > h3 {
        padding-top: 21px;
    }

    .reverse .sub-data > p {
        padding-bottom: 21px;
    }

    .primary-card {
        margin: 0;
    }
    
    .graph.bar-graph {
        height: 485px;
    }
}

@media only screen and (min-width: 1366px) {
    /* Navigation */
    header {
        height: 100vh;
        width: var(--sidebar-width);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    ul {
        font-size: 21px;
        font-weight: var(--bold);
    }

    li {
        padding-left: 0;
        margin-bottom: 30px;
    }

    .menu {
        display: none;
    }

    .header {
        margin-top: 50px;
    }

    .logo-holder {
        width: 80%;
        margin: 0 auto;
    }
    /* End Navigation */

    main {
        margin-left: var(--sidebar-width);
    }

    .graph {
        width: 65%;
    }

    .side-by-side .data-holder {
        font-size: 20px;
    }

    .side-by-side .data-holder > p {
        font-size: 40px;
    }

    .side-by-side .data-holder > p > i {
        font-size: 36px;
    }

    .data-static {
        width: 30%;
    }

    .side-by-side .data-holder > h3, .side-by-side .data-holder > p {
        padding-left: 35px;
    }

    .reverse .graph {
        width: 65%;
    }

    .reverse .data-static {
        width: 30%;
    }

    .reverse .graph.line-graph {
        height: 435px;
    }

    .reverse .graph.bar-graph {
        height: 525px;
    }

    .card > h2 {
        padding-top: 20px;
        font-size: 38px;
    }
}

@media only screen and (min-width: 1920px) {
    .dashboard {
        max-width: 1366px;
    }

    /* Navigation */
    :root {
        --sidebar-width: 310px;
    }

    ul {
        font-size: 26px;
    }

    .header {
        margin-top: 70px;
    }

    .logo-holder {
        width: 80%;
        margin: 0 auto;
    }


    /* End Navigation */

    .side-by-side .graph.line-graph{
        height: 410px;
    }
}