:root {
    --light-board: #F5F6F8;
    --title-board: #717171;
    --dark-gray: #22272B;
    --darker-gray: #181C1F;
    --beige: #FFF8E5;
    --yellow: #EFC03C;

    --regular: 400;
    --semi-bold: 600;
    --bold: 700;
    --black: 900;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
}
