.dashboard {
    width: 90%;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card > h2 {
    padding-top: 15px;
    width: 100%;
    font-size: 34px;
}

.graph, .data-holder {
    border-radius: 3px;
}

.graph {
    position: relative;
    width: 100%;
    background-color: var(--light-board);
    background-image: linear-gradient(-45deg, var(--light-board), #E8E8E8);
    margin-top: 25px;
    height: 280px;
}

.graph.line-graph, .graph.bar-graph {
    height: 400px;
}

.data-static {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.data-holder {
    font-size: 16px;
    width: 46%;
    background-color: var(--light-board);
}

.data-holder > h3, .data-holder > p {
    padding-left: 25px;
    color: white;
}

.data-holder > h3 {
    padding-top: 22px;
}

.data-holder > p {
    padding-top: 5px;
    padding-bottom: 22px;
    font-size: 22px;
    font-weight: var(--bold);
}

.data-static  p > i {
    font-size: 19px;
    padding-right: 5px;
}

.primary-card {
    color: white;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(-45deg, #80CCF3 10%, #4b01ff);
}

.primary-card > p {
    color: white;
    font-size: 40px;
    padding-bottom: 30px;
}

.primary-card > h3 {
    color: white;
    font-size: 26px;
    padding-top: 30px;
}

.primary-card > p > i {
    font-size: 34px;
    padding-right: 10px;
}

.primary-card > h3, .primary-card > p {
    padding-left: 35px;
}